name: Run Mypy

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install packages
        run: |
          python -m pip install mypy
          python3 -m pip install -r requirements.txt
          python3 -m pip install .
      - name: Run mypy
        run: |
          python3 -m mypy --non-interactive --install-types ./mnu_gsheets
